# Python cache
__pycache__/
.pytest_cache/

# Virtual environments
.venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Azure
.azureml

# Setuptools
jformat.egg-info
summarize.egg-info