# Python cache
__pycache__/
.pytest_cache/
*.py[cod]

# Virtual environments
.venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Data files
data/
*.csv

# Logs
*.log

# System files
.DS_Store
Thumbs.db
